<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.AdressMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Adress" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <association property="province"  javaType="com.ytc.model.Areainfo">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="area_id" property="areaId" jdbcType="VARCHAR" />
      <result column="area_name" property="areaName" jdbcType="VARCHAR" />
      <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
      <result column="grade" property="grade" jdbcType="INTEGER" />
    </association>
    <association property="district"  javaType="com.ytc.model.Areainfo">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="area_id" property="areaId" jdbcType="VARCHAR" />
      <result column="area_name" property="areaName" jdbcType="VARCHAR" />
      <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
      <result column="grade" property="grade" jdbcType="INTEGER" />
    </association>
    <association property="city"  javaType="com.ytc.model.Areainfo">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="area_id" property="areaId" jdbcType="VARCHAR" />
      <result column="area_name" property="areaName" jdbcType="VARCHAR" />
      <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
      <result column="grade" property="grade" jdbcType="INTEGER" />
    </association>
  </resultMap>
  <select id="selectadress" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from t_adress ta LEFT JOIN area_info ai1 on ta.province=ai1.id
    left join  area_info ai2 ON ta.city=ai2.id
    LEFT join  area_info ai3 ON ta.district=ai3.id
    where user_id = #{userid,jdbcType=INTEGER}
  </select>
  <insert id="adressadd" parameterType="adress">
    insert  into t_adress values(null,#{adress.userId},#{adress.consignee},
    #{adress.province.id},#{adress.city.id},#{adress.district.id},
    #{adress.street},#{adress.phone}
    )

  </insert>
</mapper>