<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<body>
   <h1>购车订单系统</h1>
   <input type="button" id="vip" value="普通用户"><br>
   <input type="button" id="svip" value="vip用户"><br>
</body>
<script>
    $("#vip").click(function (){
        location.href="logistics/cuserLogin";
    })

    $("#svip").click(function (){
        location.href="logistics/suserLogin";
    })


</script>
</html>