<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<body>
搜索结果<br>
<table border="1">
    <tr>
        <td>订单编号</td>
        <td>下单时间</td>
        <td>收货地址</td>
        <td>收货人姓名</td>
        <td>收货人手机号</td>
        <td>订单状态</td>
    </tr>
    <tr th:each="o:${list}">
        <td th:text="${o.ordernumber}">订单编号</td>
        <td th:text="${o.ordertime}">下单时间</td>
        <td th:text="${o.address}">收货地址</td>
        <td th:text="${o.name}">收货人姓名</td>
        <td th:text="${o.telephone}">收货人手机号</td>
        <td th:text="${o.state}">订单状态</td>
    </tr>
</table>
</body>
</html>